.subContent {
    padding-top: 2rem;
    display: flex;
    overflow: auto;
}

.title {
    color: var(--text-second-color);
}

.line {
    margin-left: 1rem;
    height: 3rem;
    width: 1px;
    background-color: var(--main-color);
}

.content {
    display: flex;
}

.left {
    min-width: 700px;
    width: 700px;
    margin-right: 20px;
}

.left form {
    background-color: var(--background-color1);
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.left form h1 {
    margin-bottom: 1rem;
}

.right {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    position: relative;
    /* width: 591px;
    height: 1280px; */
}

.righttop, .rightbottom{
    position: relative;
    width: 668px;
    height: 376px;
}

.righttop .avatar{
    position: absolute;
    width: 90px;
    height: 120px;
    object-fit: cover;
    top: 170px;
    left: 145px;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right span {}

.inputCus {
    background-color: transparent !important;
    border: 1px solid #404656;
    padding: 1.5rem 2rem;
    color: var(--text-main-color);
    font-size: 1.2rem;
}

.inputCus:focus {
    color: var(--text-main-color);
}

.selectCus {
    background-color: transparent !important;
    border: 1px solid #404656;
    color: var(--main-color);
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.selectCus:focus {
    color: var(--main-color);
}

.selectCus option {
    /* Tùy chỉnh nền cho các tùy chọn */
    background-color: var(--background-color1);
    color: #Fff;
}

.selectCus option:hover {
    /* Tùy chỉnh nền khi hover trên tùy chọn */
    background-color: var(--main-color);
    color: #fff;
}

.selectCus option:checked {
    /* Tùy chỉnh nền khi tùy chọn được chọn */
    background-color: var(--main-color);
    color: #fff;
}



/* --------------REF ----------- */
.name {
    font-size: 15px;
    top: 200px;
    left: 250px;
    color: #212121;
    text-transform: uppercase;
}

.qr{
    width: 54px !important;
    height: 54px !important;
    top: 80px;
    right: 150px;
}

.noNumber {
    font-size: 18px;
    top: 163px;
    left: 292px;
    color: #212121;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
}

.dateDob {
    font-size: 14px;
    top: 215px;
    left: 370px;
    color: #212121;
}

.dateExp {
    font-size: 9px;
    top: 293px;
    left: 193px;
    color: #212121;
}

.gender {
    font-size: 14px;
    top: 232px;
    left: 320px;
    color: #212121;
}

.nation {
    font-size: 14px;
    top: 232px;
    left: 470px;
    color: #212121;
}

.placeOrigin {
    font-size: 14px;
    top: 265px;
    left: 250px;
    color: #212121;
}

.placeResiden {
    font-size: 14px;
    top: 292px;
    left: 250px;
    color: #212121;
}

.dateStart{
    font-size: 9px;
    top: 90px;
    left: 295px;
    color: #212121;
}

.description{
    color: #252525;
    top: 230px;
    left: 0;
    font-size: 22px;
    width: 100%;
    text-align: center;
}

.description div{
    margin: -10px 0;
}

.addfront{
    font-family: 'MyCustomFont', sans-serif;
}

/* Bản quyền */
.copy{
    position: absolute;
    bottom: 350px;
    left: 50px;
    height: 150px;
    width: 604px;
    opacity: .6;
    transform: rotate(50deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy div{
    font-size: 50px;
    color: #404656;
}

.copy img{
    width: 100px;
}



/* Tác vụ */

.taskbar{
    width: 100%;
    position: absolute;
    top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.timePhone {
    font-family: "SanFranciscoText-Regular", sans-serif;
    font-size: 12px;
    color: #ffffff;
}

.taskbarRight{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.taskbarRight img{
    width: 15px;
}

.imageWifi{
    width: 29px !important;
    margin: -5.5px;
}


.inputPin{
    background-color: var(--background-color);
    color: var(--main-color);
}

.boxPin{
    margin-bottom: 5px;
}

.pinne{
    width: 14px;
    margin-bottom: 7px;
}

.pinne img{
    width: 24px;
    top: 0;
    left: 0;
}

.pinne div{
    top: 2.9px;
    left: 2.3px;
    border-radius: 1px;
}
