.subContent {
    padding-top: 2rem;
    display: flex;
    overflow: auto;
}

.title {
    color: var(--text-second-color);
}

.line {
    margin-left: 1rem;
    height: 3rem;
    width: 1px;
    background-color: var(--main-color);
}

.content {
    display: flex;
}

.left {
    min-width: 700px;
    width: 700px;
    margin-right: 20px;
}

.left form {
    background-color: var(--background-color1);
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.left form h1 {
    margin-bottom: 1rem;
}

.right {
    width: 591px;
    height: 1280px;
    position: relative;
}

.right img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
}

.right span {}

.inputCus {
    background-color: transparent !important;
    border: 1px solid #404656;
    padding: 1.5rem 2rem;
    color: var(--text-main-color);
    font-size: 1.2rem;
}

.inputCus:focus {
    color: var(--text-main-color);
}

.selectCus {
    background-color: transparent !important;
    border: 1px solid #404656;
    color: var(--main-color);
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.selectCus:focus {
    color: var(--main-color);
}

.selectCus option {
    /* Tùy chỉnh nền cho các tùy chọn */
    background-color: var(--background-color1);
    color: #Fff;
}

.selectCus option:hover {
    /* Tùy chỉnh nền khi hover trên tùy chọn */
    background-color: var(--main-color);
    color: #fff;
}

.selectCus option:checked {
    /* Tùy chỉnh nền khi tùy chọn được chọn */
    background-color: var(--main-color);
    color: #fff;
}

.iconBank{
    width: 30px !important;
    height: auto !important;
    top: 458px;
    left: 38px;
}


/* --------------REF ----------- */
.date {
    font-size: 20px;
    top: 358px;
    width: 591px;
    left: 0px;
    text-align: center;
    color: #585858;
}

.transactionCode {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    top: 893px;
    right: 38px;
    color: #ffffff;
    font-weight: 600;
}

.free {
    font-family: "Semibold", sans-serif;
    font-size: 24px;
    top: 735px;
    right: 38px;
    color: #000;
}


.receiverAccount {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    top: 419px;
    right: 38px;
    color: #ffffff;
}

.receiverName {
    font-family: "Semibold", sans-serif;
    font-size: 24px;
    top: 486px;
    right: 38px;
    text-align: end;
    width: 330px;
    line-height: 1.1;
}

.nameBank {
    font-family: "Semibold", sans-serif;
    width: 400px;
    font-size: 24px;
    top: 552px;
    right: 38px;
    color: #ffffff;
    line-height: 26px;
    text-align: end;
}

.boxAmountNumber {
    text-align: center;
    width: 591px;
    font-size: 38px;
    top: 290px;
    right: 24px;
    color: #204A32;
}

.amountNumber{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.amountNumber::after {
    content: "VND";
    font-weight: 200;
    font-size: 20px;
    top: 0px;
    right: -50px;
    position: absolute;
    font-family: 'Medium', sans-serif;
    color: #398928;
}

.subAmountNumber{
    text-align: center;
    width: 591px;
    font-size: 28px;
    top: 290px;
    right: 0px;
    color: #204A32;
}

.description {
    font-family: "Semibold", sans-serif;
    width: 225px;
    font-size: 24px;
    top: 650px;
    right: 38px;
    color: #ffffff;
    line-height: 24px;
    text-align: end;
}

/* Bản quyền */
.copy {
    position: absolute;
    top: 183px;
    left: 49px;
    height: 150px;
    width: 214px;
    opacity: .6;
    transform: rotate(30deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy div {
    font-size: 20px;
    color: #404656;
}

.copy img {
    width: 100px;
}



/* Tác vụ */

.taskbar {
    width: 100%;
    position: absolute;
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.timePhone {
    font-family: "SanFranciscoText-Regular", sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #000;
}

.taskbarRight {
    display: flex;
    align-items: center;
}

.taskbarRight img {
    width: 32px;
}

.imageWifi {
    width: 50px !important;
    margin-right: -15px;
}


.inputPin {
    background-color: var(--background-color);
    color: var(--main-color);
}

.boxPin {
    width: 60px;
    height: 29px;
}

.pinne {
    width: 30px;
}

.pinne img {
    width: 60px;
    height: 20px;
    top: 6px;
}

.pinne div {
    top: 8.5px;
    left: 15px;
    border-radius: 3px;
}

.pinNumber{
    width: 90%;
    text-align: center;
    font-weight: bold;
    color: white;
    z-index: 10;
}